    body {
      text-align: center;
      font-family: Arial;
    }
    .game {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      gap: 10px;
      justify-content: center;
      margin-top: 20px;
    }
    .box {
      width: 100px;
      height: 100px;
      font-size: 30px;
      cursor: pointer;
    }
    .btn {
      margin-top: 20px;
      padding: 10px 20px;
      cursor: pointer;
    }